@font-face {
	font-family: 'Hestina';
	src: url("objets/font/Hestina_Font_by_Keithzo.otf") format("opentype");
}

body {
    font-family: 'Hestina', serif;
    background-color: rgb(238, 238, 238);
}

body header h1 {
    display: none;
}

.arial_font {
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#main {
    margin-top: 50px;
    border-radius: 20px 0 0 20px;
    margin-inline: 50px;
    display: flex;
    gap: 20px;
    background-color: white;
    border: 2px solid darkgray;
    border-radius: 20px;
}

#main img {
    border-radius: 20px;
}

.element_info {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    align-items: center;
}

.element_shop {
    display: flex;
    justify-content: space-between;
}

.button {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.aparencelink {
    text-decoration: none;
}

.colorfooter {
    color: rgb(0, 0, 0);
}

.textinfo {
    font-size: 21px;
    margin: 0;
}

footer {
    margin-top: 70px;
    height: 300px;
    background-color: rgb(246, 246, 246);
}

.footerinfo {
    height: 100%;
    margin: 0% 70px 0% 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vw;
}

.footerelement {
    text-align: left;
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footerelement div {
    margin-bottom: 10px;
}
