@font-face {
	font-family: 'Hestina';
	src: url("objets/font/Hestina_Font_by_Keithzo.otf") format("opentype");
}

body {
    font-family: 'Hestina', serif;
    margin: 0;
    background-color: rgb(238, 238, 238);
}

body header h1 {
    display: none;
}

.arial_font {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-block: 20px;
    display: flex;
    justify-content: center;
}

#main {
    padding-inline: 30px;
    display: grid;
    grid-template-columns: 1fr 328px;
    min-height: 200px;
}

.liste_produit {
    padding: 40px;
    min-height: 200px;
    border-radius: 30px;
    display: grid;
    align-items: center;
    grid-gap: 20px;
}

.produit {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 300px 1fr 163px;
    gap: 20px;
    border: 2px solid darkgray;
    border-radius: 20px;
    z-index: 1;
    padding-right: 15px;
}

.produit_img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: center;
    z-index: 0;
    height: 200px;
    max-width: 300px;
    object-fit: cover;
}

.produit_info {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.produit_shop {
    display: flex;
    flex-direction: column;
}

.total {
    display: flex;
    font-size: 30px;
}

.produit_shop {
    justify-content: space-evenly;
}

.commande {
    padding: 40px;
    height: auto;
    position: sticky;
    height: auto;
    top: 0px;
    display: flex;
    margin-bottom: auto;
    flex-direction: column;
    gap: 15px;
}

.formulaire {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.formulaire input {
    background: none;
    border: none;
    border-bottom: 2px solid #666666;
}

.button {
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.vide {
    margin-block: 0;
    font-size: 30px;
    display: flex;
    margin: auto;
    align-items: center;
}

.aparencelink {
    text-decoration: none;
}

.colorfooter {
    color: rgb(0, 0, 0);
}

.textinfo {
    font-size: 21px;
    margin: 0;
}

footer {
    margin-top: 70px;
    height: 300px;
    background-color: rgb(246, 246, 246);
}

.footerinfo {
    height: 100%;
    margin: 0% 70px 0% 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vw;
}

.footerelement {
    text-align: left;
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footerelement div {
    margin-bottom: 10px;
}

