@font-face {
	font-family: 'Hestina';
	src: url("objets/font/Hestina_Font_by_Keithzo.otf") format("opentype");
}

body {
    font-family: 'Hestina', serif;
    background-color: #d6a793;
}

header {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.my_liste {
    display: grid;
    padding: 20px;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

}

.liste_element {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    justify-items: center;
    background-color: white;
}
